*, *::before, *::after{
    box-sizing: border-box;
    /* soluciona todos os problemas de espaço */
}
html, body{
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Source Sans Pro', sans-serif;
}
/* TIPOGRAFIA */
h3{
    font-size: 1.25em;
    margin: 0;
}
i{
    font-size: 1.25rem;
}
p{
    font-size: 1.25em;
    letter-spacing: 1.5;
}

.date{
    font-size: 1.09375em;
}

h2{
    font-size: 1.25em;
}
h1{
    font-size: 2.5rem;
    letter-spacing: 1.5;
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 0;
}
/* RESTO */
header{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #ffffff;
}
.logo{
    color: #0E0E0E;
    font-size: 1.25rem;
    display: flex;
    gap: 0.25rem;
    align-items: center;
    justify-content: left;
    transition: 0.25s;
    cursor:pointer;
    width: 20%;
    flex-wrap: wrap;
    margin-right: 2rem;

}
.nav{
    width: 80%;
    display: flex;
    justify-content: flex-end;
}
.logo h3{
    white-space: nowrap;
}
ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
li{
    margin-left: 1rem;
    text-decoration: none;
    list-style: none;
}
li > a{
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    color: #0E0E0E;
    transition: 0.25s;
}
li > a:hover{
    color: #be123c;
    transition: 0.25s;
}
.logo:hover{
    color: #be123c;
    transition: 0.25s;
}


.main-image{
   width: 100%;
   height: 85vh;
   object-fit: cover;

}
.wrapper-main-image{
    width: 100%;
    position:relative;
}

.text-image{
    color: white;
    position:absolute;
    bottom: 0;
    margin-left: 4rem;
    margin-right: 4rem;
    margin-bottom:3rem;
    left: 0;
    text-shadow: 1px 1px 2px black;
}

.text-image > p{
    font-weight: 400;
    font-size: 1rem;
    
}

.main-image-paragraph{
    width: 80%;
  
}

.container{
    display: flex;
    max-width: 80%;
    align-items: center;
    justify-content: center;
}

article{

    width: 60%;
}

.article-wrapper{
    display: flex;
    justify-content: center;
}

h1{
    font-size: 2.25rem;
    letter-spacing: 1.5;
}

.aboutme-section{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.aboutme-text{
    color: #151515;
    margin-left: 2rem;
    width: 70%;
}

.subheading{
    color: #151515;
}

.recent-posts > .header{
    text-align: center;
}

.post-img{
    width: 100%;
}

.items{

    max-width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
  
   
}
.item-page{
    flex-basis:  288px;
    flex-grow: 1;
}
.recent-posts{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

@media(min-width: 768px) and (max-width:1024px){
    h1{
        font-size: 3.5rem;
    }
    .main-image{
        max-height: 80vh;
    }

    .text-image p{
        font-size: 1.75rem;
    }
    .item-page{
        flex-basis:  576px;
    }
    .item-page h2{
        font-size: 3rem;
    }
    .item-page p{
        font-size: 2rem;
    }
    .see-more{
        font-size: 2rem;
    }
    header h3{
        font-size: 2.5rem;
    }
    header a{
        font-size: 2rem;
    }
    .text-image{

        position: absolute;
        top: 5rem;
        left: 0;
        right: 0;
        width: 90%;
        margin: 2 2rem;

        height: 5rem;
    }
    
}

@media(max-width: 768px){
    .logo{
        width: 100%;
        align-items: center;
        justify-content: center;
        margin-right: 0;
        padding-right: 0;
    }
    a{
        padding: 0;
        margin: 0;
    }
    li{
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    header{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        text-align: center;
        margin: 0;
        padding: 1rem;
    }
    .nav{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        text-align: center;
    }
    .nav ul{
        display: flex;
        gap: 1rem;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0;
    }
    .container{
        margin: 0;
        padding: 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: left;
        max-width: 90%;
    }
    main{
        width: 100%;
    }
    .aboutme-section{
        max-width: 100%;
        justify-content: center;
        align-items: center;
    }
    .aboutme-text{
        width: 100%;
    }

    p{
        font-size: 1.25em;
    }

    h3{
        font-size: 1.25em;
    }

    article{
        width: 90%;
    }
    .see-more{
        font-size: 2rem;
    }
    .text-image{

        position: absolute;
        top: 5rem;
        left: 0;
        right: 0;
        width: 90%;
        margin: 0 2rem;

        height: 5rem;
    }
    
}

.see-more{
    margin-top: 1rem;
    font-weight: 700;
    color: black;
}

.item-page{
    text-decoration: none;
    color: black;
    cursor: pointer
}


.item-page:hover h2{
    text-decoration: underline;
}

